html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}

footer {
    background-color: black;
    padding: 30px;
    color: white;
}

#topMenu {
    display: flex;
    background-color: blueviolet;
    margin: 0;
}

#topMenu li {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
}

#topMenu li:first-child {
    margin-right: auto;
}

.section1 {
    display: flex;
    height: 50vh;
    background-color: rgb(255, 109, 248);
}

.centralize {
    margin: auto;
    text-align: center;
}

.ImagemProjeto {
    width: 90%;
    height: 90%;
    border-radius: 20%;
}

.ImagemEspecial {
    width: 100%;
    height: 100%;
    border-radius: 20%;
}

.section2 {
    display: flex;
    background-color: white;
}

.section3 {
    display: flex;
    background-color: rgb(202, 202, 202);
}

.botaoColorido {
    background-color: blueviolet;
    border-radius: 10px;
    color: aliceblue;
    padding: 10px;
    font-family: 'Fjalla One', sans-serif;
}

.area-de-texto {
    width: 60%;
    text-align: left;
}

.image-box {
    width: 25vw;
    height: 40vh;
    padding: 3rem;
}

tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

h2 {
    font-size: 300%;
}

.descrição {
    font-size: 120%;
}

@media only screen and (max-width: 600px) {
    .image-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40vw;
        height: 25vh;
        padding: 0;
    }

    h2 {
        font-size: 150%;
    }

    td ul {
        padding: 5%;
    }

    .descrição {
        font-size: 80%;
    }
}